.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    object-fit: cover;
    overflow: hidden;
    border: 6rem solid var(--primary);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 3rem;
}

.figma, .xd, .miro, .zeplin {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100px;
    height: 100px;
    padding: 1.5rem;
    z-index: 1;
    background-color: var(--secondary-bg);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.figma {
    left: 6rem;
    top: 2rem;
}

.xd {
    right: 6rem;
    top: 2rem;
}

.miro {
    left: 6rem;
    bottom: 2rem;
}

.zeplin {
    right: 6rem;
    bottom: 2rem;
}

@media screen and (max-width: 1500px) {
    .figma {
        left: 3.5rem;
        top: 2rem;
    }
    
    .xd {
        right: 3.5rem;
        top: 2rem;
    }
    
    .miro {
        left: 3.5rem;
        bottom: 2rem;
    }
    
    .zeplin {
        right: 3.5rem;
        bottom: 2rem;
    }
}

@media screen and (max-width: 1400px) {
    .figma {
        left: 2rem;
        top: 2rem;
    }
    
    .xd {
        right: 2rem;
        top: 2rem;
    }
    
    .miro {
        left: 2rem;
        bottom: 2rem;
    }
    
    .zeplin {
        right: 2rem;
        bottom: 2rem;
    }
    
}

@media screen and (max-width: 1200px) {
    .image {
        background-color: rgba(213, 210, 228, .3);
        border: none;
        width: 100%;
        height: auto;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
    }

    .figma, .xd, .miro, .zeplin {
        background-color: rgba(213, 210, 228, .3);
    }
}

@media screen and (max-width: 624px) {
    .figma, .xd, .miro, .zeplin {
        width: 50px;
        height: 50px;
        padding: .5rem;
    }

    .figma {
        top: 1rem;
        left: 1rem;
    }

    .xd {
        top: 1rem;
        right: 1rem;
    }

    .miro {
        bottom: 1rem;
        left: 1rem;
    }

    .zeplin {
        bottom: 1rem;
        right: 1rem;
    }
}