.stats {
    padding: 4rem 0;
}

.container {
    max-width: 1600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .3rem;
    position: relative;
}

.donut, .circle {
    position: absolute;
    content: "";
    z-index: -1;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.donut {
    top: -3rem;
    right: 4rem;
    background-color: transparent;
    border: 1.3rem solid yellow;
}

.circle {
    bottom: -4rem;
    left: 3rem;
    background-color: yellow;
}