.projects {
    padding: 10rem 2rem;
    position: relative;
}

.circle {
    position: absolute;
    content: "";
    height: 18rem;
    width: 18rem;
    top: 57%;
    background: transparent;
    border: 4.5rem solid yellow;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.container {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}


@media screen and (max-width: 900px) {
    .circle {
        height: 12rem;
        width: 12rem;
        top: 60%;
        right: 0;
        border-width: 3rem;
    }
}

@media screen and (max-width: 624px) {
    .circle {
        height: 8rem;
        width: 8rem;
        top: 60%;
        right: 0;
        border-width: 2rem;
    }
}


