.projects {
    padding: 10rem 0;
    position: relative;
}

.circle {
    position: absolute;
    content: "";
    height: 18rem;
    width: 18rem;
    top: 61%;
    background: transparent;
    border: 4.5rem solid yellow;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.container {
    max-width: 1600px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

