@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #D5D2E4;
  --secondary: #FECD70;
  --primary-bg: #25262A;
  --secondary-bg: #2d2e32;
  --white: #FFFFFF;
  --black: #000000;

}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--secondary-bg);
  position: relative;
  overflow-x: hidden;
}

h1,h2 {
  line-height: 1.4;
  letter-spacing: 2px;
}

h3,h4,h5,h6,button,a,span, p {
  letter-spacing: 1.8px;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1300px;
  margin: auto;
}

.fa-arrow-up {
  background-color: var(--white);
  font-size: 1.4rem;
  padding: .5rem .7rem;
  color: var(--secondary-bg);
  opacity: .8;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}