.hero {
    padding: 12rem 2rem;
    min-height: 100vh;
    background-color: var(--primary-bg);
}

.hero .container {
    max-width: 1600px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

@media screen and (max-width: 1000px) {
    .hero .container {
        flex-direction: column;
        gap: 5rem;
    }
}