.projects {
    padding: 20rem 1rem 15rem 1rem;
    position: relative;
    overflow-x: hidden;
}

.circle {
    position: absolute;
    content: "";
    height: 15rem;
    width: 15rem;
    top: 40%;
    left: -9%;
    background: transparent;
    border: 5rem solid var(--secondary);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.donut {
    position: absolute;
    content: "";
    height: 15rem;
    width: 15rem;
    top: 58%;
    right: -9%;
    background: transparent;
    border: 5rem solid var(--primary);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.container {
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

@media  screen and (max-width: 1020px) {
    .circle, .donut {
        height: 10rem;
        width: 10rem;
    }
}

@media  screen and (max-width: 900px) {
    .projects {
        padding: 15rem 1rem 15rem 1rem;
    }

    .donut {
        top: 60%;
    }

    .circle {
        height: 8rem;
        width: 8rem;
        border-width: 3rem;
    }
}

@media  screen and (max-width: 500px) {
    .donut {
        height: 8rem;
        width: 8rem;
        border-width: 3rem;
    }

    .circle {
        height: 5rem;
        width: 5rem;
        border-width: 2rem;
    }
}

